vti_encoding:SR|utf8-nl
vti_author:SR|NEC-POWERMATE\\Peter Mo
vti_modifiedby:SR|UDHIRE\\trademark
vti_timelastmodified:TR|05 Feb 2003 09:35:51 -0000
vti_timecreated:TR|05 Feb 2003 09:38:36 -0000
vti_extenderversion:SR|5.0.2.4803
vti_lineageid:SR|{7C30099E-7FB1-40F3-9A8D-10CA8E7C3333}
vti_backlinkinfo:VX|
vti_syncwith_www.trademark.com.hk\:80:TR|05 Feb 2003 09:35:51 -0000
vti_nexttolasttimemodified:TR|05 Feb 2003 09:35:51 -0000
vti_cacheddtm:TX|08 Jun 2004 11:35:41 -0000
vti_filesize:IR|5406
vti_cachedlinkinfo:VX|S|globannd.gif S|glohbudd.gif S|glohbusd.gif S|glohombd.gif S|glonexbd.gif S|gloprebd.gif S|gloupbd.gif S|gloglob.gif S|glovbudd.gif S|glovbusd.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/global/globannd.gif FSUS|_themes/global/glohbudd.gif FSUS|_themes/global/glohbusd.gif FSUS|_themes/global/glohombd.gif FSUS|_themes/global/glonexbd.gif FSUS|_themes/global/gloprebd.gif FSUS|_themes/global/gloupbd.gif FSUS|_themes/global/gloglob.gif FSUS|_themes/global/glovbudd.gif FSUS|_themes/global/glovbusd.gif
