vti_encoding:SR|utf8-nl
vti_syncwith_www.trademark.com.hk\:80:TR|05 Feb 2003 09:38:38 -0000
vti_timelastmodified:TR|05 Feb 2003 09:38:38 -0000
vti_author:SR|UDHIRE\\trademark
vti_modifiedby:SR|UDHIRE\\trademark
vti_nexttolasttimemodified:TR|05 Feb 2003 09:38:38 -0000
vti_timecreated:TR|07 Jun 2004 12:45:10 -0000
vti_extenderversion:SR|5.0.2.4803
vti_lineageid:SR|{69C7ED16-97C6-4F41-B430-31C6E6CD9C28}
vti_backlinkinfo:VX|
vti_cacheddtm:TX|07 Jun 2004 12:45:10 -0000
vti_filesize:IR|1693
vti_cachedlinkinfo:VX|S|glohorsd.gif S|globul1d.gif S|globul2d.gif S|globul3d.gif S|globannd.gif S|glohbudd.gif S|glohbusd.gif S|glovbudd.gif S|glovbusd.gif S|glohombd.gif S|glonexbd.gif S|gloprebd.gif S|gloupbd.gif S|globul1d.gif S|globul2d.gif S|globul3d.gif
vti_cachedsvcrellinks:VX|FSUS|2001tmnew/_themes/global/glohorsd.gif FSUS|2001tmnew/_themes/global/globul1d.gif FSUS|2001tmnew/_themes/global/globul2d.gif FSUS|2001tmnew/_themes/global/globul3d.gif FSUS|2001tmnew/_themes/global/globannd.gif FSUS|2001tmnew/_themes/global/glohbudd.gif FSUS|2001tmnew/_themes/global/glohbusd.gif FSUS|2001tmnew/_themes/global/glovbudd.gif FSUS|2001tmnew/_themes/global/glovbusd.gif FSUS|2001tmnew/_themes/global/glohombd.gif FSUS|2001tmnew/_themes/global/glonexbd.gif FSUS|2001tmnew/_themes/global/gloprebd.gif FSUS|2001tmnew/_themes/global/gloupbd.gif FSUS|2001tmnew/_themes/global/globul1d.gif FSUS|2001tmnew/_themes/global/globul2d.gif FSUS|2001tmnew/_themes/global/globul3d.gif
