vti_encoding:SR|utf8-nl
vti_webservertype:SR|msiis
vti_restartmanual:IX|0
vti_defaultlanguage:SR|en-us
vti_hasglobalasa:BR|false
vti_servercharsets:VX|windows-1257 big5 windows-1252 windows-1254 iso-8859-2 iso-8859-15 windows-874 shift_jis utf-8 windows-1251 windows-1256 euc-kr gb2312 windows-1253 windows-1258 koi8-r iso-2022-jp ks_c_5601-1987 windows-1250 windows-1255 euc-jp unicode unicodeFFFE
vti_textextensions:SX|.txt.txt.
vti_usagebymonth:UX|2448 2266 1308 460 319 735 489 179 494 440 481 757 494
vti_usagevisitsbyweek:UX|121 1554 619 91 128
vti_timecreated:TR|18 Sep 2000 12:29:57 -0000
vti_usagelastformat:SX|1 3 2 L 
vti_usagelastupdated:TX|26 Mar 2005 15:59:59 -0000
vti_casesensitiveurls:IX|0
vti_textindexood:IR|0
vti_structfrom_localhost\\c\:\\frontpage webs\\content\\2001tmnew/c\:/frontpage webs/content/2001tmnew:TR|03 Jan 2002 07:16:54 -0000
vti_welcomenames:VX|Default.asp Default.html Default.htm index.asp index.html index.htm home.asp home.html home.htm
vti_usagebyday:UX|121 0 0 0 0 0 0 160
vti_usagehitsbyweek:UX|145 2213 894 118 176
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_insecureserverurl:SR|http://www.trademark.com.hk
vti_usagelastlog:SX|E:\\logs\\w3svc363\\ex050326.log
vti_serverlanguages:VX|en-us
vti_defaultcharset:SR|windows-1252
vti_structfrom_petermo\:80/trademark:TR|28 Dec 2000 15:00:06 +0800
vti_autorecalc:IX|1
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Denied
vti_httpdversion:SX|Microsoft-IIS/4.0
vti_navbuttonuplabel:SR|Up
vti_longfilenames:IX|1
vti_createpostinfo:BX|false
vti_disableautoimgsizeexts:SX|.asp
vti_ignorekeyboard:IR|0
vti_extenderversion:SR|5.0.2.6790
vti_navbuttonprevlabel:SR|Back
vti_usageserverlastupdated:TX|26 Mar 2005 15:59:59 -0000
vti_usagedownload:UX|37377 30424 26823 6059 4508 13030 6111 2072 7871 4953 7852 24706 5816
vti_dependenciesood:IR|0
vti_navbuttonhomelabel:SR|Home
vti_structfrom_petermo\:80/2001tmnew:TR|03 May 2001 15:49:48 +0800
vti_usagehitsbymonth:UX|3370 2914 1803 565 431 1011 649 226 635 564 648 1081 698
vti_usagefirstdata:TX|29 Feb 2004 16:00:00 -0000
vti_usagelastmarker:SX|37488 37730 2005-03-26 15:49:22 151.37.251.233 - W3SVC363 WEB4 202.181.132.132 80 GET /awst
vti_missingoverlays:VX|
vti_oldestcompatibleversion:SR|2.0.0.0
vti_usagevisitsbymonth:UX|2385 2254 1279 445 316 716 482 176 494 431 469 737 490
vti_navbuttonnextlabel:SR|Next
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_htmlextensions:SX|.htm.html.htm.html.stm.shtml.shtm.htt.htx.asp.alx.asa.
vti_usagevisitsbyday:UX|121 0 0 0 0 0 0 160
vti_themedefault:SR|global 101
vti_servertz:SX|+0800
vti_approvallevels:VR|Approved Denied Pending\\ Review Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_hassearchbot:BR|false
vti__search_articlenumber:IX|4
vti_borderdefault:SR|none
vti_usagebyweek:UX|121 1606 630 91 128
vti_usagehitsbyday:UX|145 0 0 0 0 0 0 216
vti_showhiddenpages:IR|1
vti_featurelist:VX|vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ServiceMarkUrlDirExec vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerCollab vti_TimedDocEvents
vti_structfrom_localhost\\c\:\\documents and settings\\peter mo\\my documents\\my webs\\myweb2/c\:/documents and settings/peter mo/my documents/my webs/myweb2:TR|01 Jan 1970 00:00:00 -0000
vti_missingoverlaylabels:VX|
